* {
    box-sizing: border-box;
  }

p{
    color: red;
}

li{
    list-style-type:none;
}

li{
    list-style-type:none;
    border: 1px solid black;
    padding: 0px;
    width: 90%;
}

.expand-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    margin: 0;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    text-align: left;
}

.rating{
    padding: 10px;
}

.checked {
    color: orange;
}




 