* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
  }

body{
    background-color: #ebecee; 
}

h1{
    text-align: center;
}

.blue{
    background-color: rgb(2, 180, 235); 
}

.red{
    background-color: rgb(241, 101, 77);
}

button{
    cursor: pointer;
}

form .button {
    padding: 15px 25px;
}

button, select {
    border: solid 2px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

input, textarea{
    margin-bottom:10px;
}

.bookmarkControls{
    border: 3px solid black;
    padding: 10px 24px; 
    background-color: #4CAF50;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}

.button-controls{
    display: flex;
    justify-content:space-around;
    margin-right: auto;
    margin-left: auto;
}

button, select{
    margin: 5px;
    padding: 5px;
}

.title, .url, #description, fieldset{
    width: 100%;
}

fieldset{
    border:2px solid white;
    display: flex;
    justify-content: space-around;
}

textarea {
    resize: none;
}

ul {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px;
}

.bookmark{
    word-wrap: break-word;
    list-style-type:none;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
}

.expand{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.expand-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 24px; 
    margin: 0;
    width: 100%; 
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.bottom-expand{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center ;
}

.star-rating{
    margin-left: 24px;
    width: 50%;
}

li p{
    padding: 15px;
    margin: 0;
}

.rating{
    padding: 10px;
}

.checked {
    color: orange;
}

/* viewport change after 400px */